{% extends 'base.html.twig' %}

{% block title %}Ajout csv{% endblock %}

{% block body %}
    <h1>Ajouter films en massse</h1>

    <p>Je n'ai pas réussi à le faire, la désérialisation, c'est pas pour moi (vous pourrez voir une tentative en commentaire)</p>
    <a class="btn btn-secondary" href="{{ path('movie_index') }}">Retour</a>
{% endblock %}